@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&subset=cyrillic');
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg'); /* Legacy iOS */
}
html, body{
  font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	font-weight:100;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
section {
	padding: 2rem 1rem;
}
p {
	padding: 0.5rem 0.2rem;
}
::selection {
  background:#ed0e90; 
  color:#fff;
}
::-moz-selection {
  background:#ed0e90;
  color:#fff;
}
.main-content {
  padding: 0;
}
.purple {
  background-color: #9f6bae;
}
.blue {
  background-color: #0083a7;
}
.yellow {
  background-color: #f4ec28;
}
.red {
  background-color: #f15722;
}
.green {
  background-color: #67bd45;
}
.navbar-nav {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav-item {
  text-align: center;
  text-transform: uppercase;
}
.navbar-toggler {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 50px;
    padding: 0;
}
.nav-item > a {
  color: #0685a8;
}
.btn {
  padding: 0;
}
.navbar-toggler:focus, 
.navbar-toggler:hover {
    text-decoration: none;
    outline: none;
}
.mobile-menu-nc {
  padding-top: 3rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.mobile-menu-nc > li {
  padding: 0.5rem 0;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "\f078";
    font-family: "FontAwesome";
    margin-top: -1.5rem;
    font-size: 1rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    color: #e11f90;
} 
.dropdown-toggle-split:focus {
  box-shadow: none;
}
.open > button::after {
  content: "\f077";
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s; 
}
.dropdown-menu {
    position: absolute;
    top: 1.5rem;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius:0;
}
.dropdown-item {
	background-color: #fff;
}
.dropdown-menu > .dropdown-item {
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 0.5s;
  padding: 0.9rem 1rem;
  color:#fff;
  transform-origin: top center;
}
.dropdown-menu > .dropdown-item:nth-child(1) {
	background-color: #f4ec28;
}
.dropdown-menu > .dropdown-item:nth-child(2) {
	background-color: #f15722;
}
.dropdown-menu > .dropdown-item:nth-child(3) {
	background-color: #67bd45;
}
.dropdown-menu > .dropdown-item:nth-child(4) {
	background-color: #0083a7;
}
.dropdown-menu > .dropdown-item:nth-child(5) {
	background-color: #9f6ba7;
}
.dropdown-menu > .dropdown-item:hover {
	-webkit-filter: brightness(1.2);
}
.dropdown-toggle-split {
  background-color:transparent;
}
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  to {
    transform: perspective(400px);
  }
}
.first {
	background-image: url('../images/123123.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.second {
	background-image: url('../images/ACCa0.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.third {
	background-image: url('../images/hero1-min-1280x500.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.section-fullwidthpicture {
	display: flex;
    justify-content: flex-end;
}
.transparent-form {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin: 1rem;
}
.panorama {
	overflow-x:hidden;
}
.dropdown:hover > .dropdown-menu {
	display: block;
}
.dropdown:focus {
	outline: none;
}
.nav-item-footer {
	width: 50%;
  margin: 0.5rem 0;
}
.navbar-nav-footer {
	list-style: none;
	display: flex;
  flex-wrap: wrap;
}
.nav-link {
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0;
  color: #1b8bab;
}
.button-about {
  display: flex;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.1rem;
  color: #542f3d;
}
.button-about:hover {
  display: flex;
  justify-content: center;
  margin: 0.1rem;
  padding: 0.1rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.choose-app{
  text-align: center;
}
.button-about>i {
	font-size: 19px;
  margin: 4px;
}
.project-heading {
	text-align: center;
	padding: 1.5rem;
	text-transform: uppercase;
}
.button-about:hover {
	color:#fff;
}
/*About*/
.advantages {
  margin: 0 3rem;
}
.bg-advantages-item {
  margin:1rem 0;
  transform: translateX(40px);
}
.bg-advantages-item{
	min-height: 300px;
}
.adv-vid-1 {
  background-image: url('../images/Cat-just-wants-to-Dog.gif');
  background-size: cover;
}
.adv-vid-2 {
  background-image: url('../images/available.gif');
  background-size: cover;
}
.adv-vid-3 {
  background-image: url('../images/gif3.gif');
  background-size: cover;
}
.adv-vid-4 {
  background-image: url('../images/gif4.gif');
  background-size: cover;
}
.adv-vid-5 {
  background-image: url('../images/gif3.gif');
  background-size: cover;
}
.adv-vid-6 {
  background-image: url('../images/gif5.gif');
  background-size: cover;
}
.bg-advantages-txt {
	padding: 2rem;
	margin: 2rem 0;
	color:#fff;
  transform: translateX(-40px);
	box-shadow: -12px 12px 0px 0px rgba(255, 255, 255, 0.5), 0px 7px 14px -7px rgba(255, 255, 255, 0.5);
  background: rgba(246,76,255,1);
  background: -moz-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,76,255,1)), color-stop(100%, rgba(10,108,255,0.1)));
  background: -webkit-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
  background: linear-gradient(135deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64cff', endColorstr='#0a6cff', GradientType=1 );
}
.advantages-overlay-icon {
    max-height: 100px;
    max-width: 100px;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 45%;
    right: 50%;
    z-index: 10;
}
.adv-heading {
  margin: 1rem 0 0 0;
  width:100%;
  text-align: center;
}
.adv-heading::after {
  content:" ";
  display: block;
  width:20%;
  height: 1px;
  background-color: #ec4eff;
  margin: 1rem auto;
}
.advantages-block {
  margin: 0 0 2rem 0;
}

.infr-box {
	max-height: 250px;
	margin: 3rem 0;
  display: flex;
}
.icon-box-infractructure {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90px;
    text-align: center;
    color: #fff;
    z-index: 2;
}
.infrastructure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 40px;
}
.icon-infrastructure {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: calc(100% - 16px)!important;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.infrastructure-illustration {
  width: 100%;
  position: relative;
  display: block;
  z-index: 1;
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.bx-line:hover > .photo_wrapper > .icon-box-infractructure {
  -webkit-transform: translateX(-90px);
  transform: translateX(-90px);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.bx-line:hover > .photo_wrapper > .infrastructure-illustration {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.photo_wrapper {
  margin-bottom: 15px;
  position: relative;
  line-height: 0;
  overflow: hidden;
}
.desc_wrapper {
  text-align: center;
  color: #d65b9c;
  font-weight: bold;
}
.inf-1 {
	background-color: #9274b0;
}
.inf-2 {
	background-color: #659d94;
}
.inf-3 {
	background-color: #85bc5e;
}
.inf-4 {
	background-color: #d65b9c;
}
.inf-5 {
	background-color: #efe953;
}
.inf-6 {
	background-color: #5b84a2;
}
.btn-sm {
	border: 1px solid #0083a7;
  background-color: #0483a7;
  color: #fff;
}
.documentation-table>th {
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}
.block-heading {
  display: block;
  width:100%;
}
.section-heading {
	text-align: center;
  display: block;
  width: 100%;
  margin: 3rem 0;
}
.section-heading::after {
  content:" ";
  display: block;
  width:30%;
  height: 3px;
  background-color:#0283a7;
  margin: 2rem auto 0.5rem auto;
}
.technology-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tech-item {
  min-height: 300px;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 120px 10px 80px 10px;
}
.tech-item > h3, .tech-item > p {
  color: #fff;
  text-align: center;
}
.tech-heading::after {
  content:" ";
  display: block;
  width:20%;
  margin: 10px auto;
  height: 3px;
  background-color:#fff;
}
.tech-item:hover>.tech-heading::after {
  content:" ";
  width:80%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.tech-item:nth-child(1) {
  background-image: url(../images/box1.jpg);
}
.tech-item:nth-child(2) {
  background-image: url(../images/box2.jpg);
}
.tech-item:nth-child(3) {
  background-image: url(../images/box3.jpg);
}
.tech-item:nth-child(4) {
  background-image: url(../images/box4.jpg);
}
.tech-item:nth-child(5) {
  background-image: url(../images/box5.jpg);
}
.tech-item:nth-child(6) {
  background-image: url(../images/box6.jpg);
}
.tech-item:nth-child(7) {
  background-image: url(../images/box7.jpg);
}
.tech-item:nth-child(8) {
  background-image: url(../images/box8.jpg);
}
.tech-item:nth-child(9) {
  background-image: url(../images/box9.jpg);
}
.tech-item:nth-child(10) {
  background-image: url(../images/box10.jpg);
}
.tech-item:nth-child(11) {
  background-image: url(../images/box11.jpg);
}
.tech-item:nth-child(12) {
  background-image: url(../images/box12.jpg);
}
.tabs-block {
  display: flex;
}
.nav-tabs {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
}
.nav-tabs {
    border-bottom: 1px solid rgba(221, 221, 221, 0);
}
.nav-tabs > li > a {
  width: 250px;
}
.nav-tabs > .nav-item {
  padding: 10px 40px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ed0e90;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(221, 221, 221, 0);
    font-weight: 600;
}
.nav-tabs .nav-link.active::after, .nav-tabs .nav-item.show .nav-link::after {
  content:"\f054";
  font-family:"FontAwesome";
  color:#ed0e90;
  margin:0 4px;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color:transparent;
}
.tab-content-block {
  display: flex;
  flex-wrap: wrap;
}
.tab-content-block > div {
  margin:0.5rem 0;
}
.type-of-appartment {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  justify-content: center;
  text-align: center;
}
.flat-heading {
  font-size: 1.5rem;
  color:#ed0e90;
  padding: 1rem;
}
.more-link {
  padding: 10px;
  display: inline-block;
  background-color: #ed0e90;
  color: #fff;
  border: 1px solid #ed0e90;
  border-radius: 10px;
  margin: 2rem 0;
}
.more-link:hover {
  background-color: #0283a7;
  border: 1px solid #0283a7;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  color:#fff;
}
.flat-item:hover {
  background-color: rgba(255, 255, 255, 0.56);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.planning-of-floor:hover>.flat-item-plan>a>.zoom-icon {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .5s;
    -khtml-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.zoom-icon {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-transform: scale(0);
    -khtml-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s;
    -khtml-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.planning-of-floor {
  margin:1rem 0;
  text-align: center;
}
.floor-text {
  background-color: #efefef;
  padding: 0.5rem
}
.appartment-heading {
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.triangular-blue::after {
    content: " ";
    border: 68px solid transparent;
    border-top: 34px solid #0083a7;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -100px;
    left: 44%;
    right: 44%;
}
.blog-single-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-intro {
  background-color: rgba(243, 243, 243, 0.5);
  padding: 2rem;
  box-shadow: 2px 2px 2px 0px #ccc;
}
.blog-illustration {
  width: 100%;
}
.description-heading {
  color: #ed0e90;
  text-align: center;
  width:100%;
  padding: 1rem 0;
}
.appartment-que-type {
  display: flex;
  flex-wrap: wrap;
}
.appartment-plan {
  margin:2rem 0;
}
.appartment-plan-illustration {
  margin:2rem 0; 
}
.about-komplex-intro {
  background-color:rgba(243, 243, 243, 0.5);
  padding: 2rem;
}
.about-komplex-intro > img {
  width: 100%;
}
.grid-news {
  margin: 2rem 0;
}
.grid-date {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #0083a7;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 1rem;
}
.grid-heading {
 /*   background-color: #0083a7;
    color: #fff;*/
    padding: 1rem;
}
.grid-heading::after {
  content:"";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #0083a7;
  margin:30px 0 0 0;
}
.aksii-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem;
    background-color: rgba(243, 243, 243, 0.5);
}
.aksii-description {
  background-color: #dde3e1;
  /* border: 30px solid; */
  margin-left: -50px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: rgba(246,76,255,1);
background: -moz-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,76,255,1)), color-stop(100%, rgba(10,108,255,0.1)));
background: -webkit-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
background: linear-gradient(135deg, rgba(246,76,255,1) 0%, rgba(10,108,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64cff', endColorstr='#0a6cff', GradientType=1 );
}
.aksii-more-text {
  padding: 0.5rem 2rem;
}
.aksii-heading {
  color: #fff;
  padding: 2rem 0;
}
.fag-block {
  background-color: rgba(0, 131, 167, 0.23);
  width: 100%;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0;
    padding: 1rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(247, 247, 249, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.card-block {
    position: relative;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1rem;
}
.card-block::before {
   display: block;
    position: absolute;    
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #ffffff transparent;
    z-index: 1;
    top: -15px;
}
.mb-0 > a {
  color: #000;
  text-decoration: none;
}
.contacts-information {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*footer*/
.mp-footer {
	padding: 1.5rem;
	background-color: #026580;
  padding-bottom: 1rem;
}
.footer-social>p {
	font-size:0.7rem;
	color: #fff;
}
.footer-contacts>p {
	font-size: 0.9rem;
	padding: 0.2rem;
	color:#fff;
}
.link-social {
	color:#ff0;
}
.nav-item-footer>a {
	color: #ffffff;
}
.footer-logo {
	padding: 0.4rem 0;
}
.smpl-link {
	color:#fff;
	font-size: 0.9rem;
    padding: 0.2rem;
}
.smpl-link:hover, .smpl-link:active {
    color: #ea0f90;
}
.copyright {
	color: #fff;
	text-align: center;
	border-top:1px solid #fff;
	padding:1rem 0;
}
.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-desktop {

}
@media screen and (min-width: 1200px) {
  .navbar-mobile {
    display: none;
  } 
}
@media screen and (max-width: 1199px) {
  .navbar-mobile {
    display: flex;
    padding: 0;
    margin-top:-2px;
  } 
  .navbar-desktop {
    display: none;
  }
  .nav-link {
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0;
    color: #1b8bab;
    text-align: center;
  } 
  .navbar-mobile > .navbar-brand {
    text-align: right;
    position: absolute;
    z-index: 11;
    right: 0;
  }
}
@media screen and (max-width: 425px) and (min-width: 320px) {
  .advantages {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
  }
  .advantages-block {
    padding:0;
  }
  .bg-advantages-item {
    margin: 1rem 0;
    transform: translateX(0px); 
  } 
  .bg-advantages-txt {
    padding: 2rem;
    margin: 2rem 0;
    color: #fff;
    transform: translateX(0px);
  }
  .section-heading {
    font-size: 1.5rem;
  }
  .menu-icon {
    width: 30px;
    height: 3px;
    display: block;
    margin: 6px auto;
    background-color: #fff;
  }
  .navbar-toggler {
    background-color: rgba(37, 138, 168, 0.8);
    border-radius: 0;
    margin-top: 5px;
  }
  .header-logo {
    width: 75px;
  }
  .navbar-nav {
    padding-left: 1rem;
  }
  .navbar-toggleable-lg {
    padding: 0;
    margin-top: -2px;
  }
  .mp-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-content {
    padding: 0;
  }
  .transparent-form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 7rem 1rem 1rem 1rem;
  }
  .navbar-toggleable-lg {
    background-color: #fff;
  }
  .collapse.show {
    display: block;
    /*margin-top: 50px;*/
  }
  .aksii-description {
    background-color: #dde3e1;
    margin-left: 0;
    margin-top: -15px;
    margin-bottom: 40px; 
  }
  .nav-item > .nav-link {
    text-align: center;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .triangular-blue::after {
    content: " ";
    left: 32%;
    right: 44%;
  }
  .more-link {
    padding: 7px;
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
  .cell1>div:nth-child(1), 
  .cell3>div:nth-child(1), 
  .cell5>div:nth-child(1),
  .cell7>div:nth-child(1),
  .cell9>div:nth-child(1),
  .cell11>div:nth-child(1) {
    order:2;
  }
  .cell1>div:nth-child(2), 
  .cell3>div:nth-child(2),
  .cell5>div:nth-child(2),
  .cell5>div:nth-child(2),
  .cell9>div:nth-child(2),
  .cell11>div:nth-child(2) {
    order:1;
    margin: 2.5rem 0 0 0;
  }
}